.App {
  text-align: center;
  background-color: #e84118;
  min-height: 100vh;
  padding: 50px 0;

}
.App .container{
  background-color: #273c75;
  padding:40px 10px;
}

 .form .react-datepicker-wrapper{
  display: block;
  margin: 10px 0;
}

.reminder-item .remove {
  right:2px  ;
  top: 50%;
  transform: translatey(-50%);
}
.reminder-item{
  border-radius: 2px;
}

.item-desc::before{
  content: ' ';
  display: inline-block;
  border: 2px solid  #273c75;
  background-color: #273c75;
  width: 10px;
  height: 10px;

}

.item-time{
  background-color: rgba(39, 60, 117,.6);
  color: white;
}



